// -------------------------------------------------
// Component  : Button Styles
// Created on : 29/8/2019 7:35:26 PM
// Created by : VAIBHAV SHRINGARPURE
//--------------------------------------------------
.btn {
  -webkit-appearance: none;
  padding: 10px 30px;
  background: #dedede;
  border: 1px solid #333;
  color: #000;
}